---
layout: page
title: Support OctoPrint
description: Working on OctoPrint takes a lot of time and effort. If you've come to love OctoPrint, consider supporting its ongoing development.
---

<h3>Hi! I'm Gina Häußge, the creator and main developer of OctoPrint. Thank you for following this link!</h3>
<p>
    As you might imagine, <strong>working on OctoPrint takes a lot of time and effort</strong>. The development of new functionality itself
    plus maintenance, bug fixing, testing, release preparations, reviews of contributed code and such alone is already a
    <strong>huge undertaking</strong>, and that even leaves out other coding unrelated tasks like writing documentation,
    community management, server administration etc.
</p>
<p>
    If this sounds like a full time job, that's because it is. <strong>My full time work on OctoPrint is 100% crowd funded</strong>
    by people just like you!
</p>
<p>
    You can <strong>support OctoPrint's development directly</strong> either
    <a href="#regularly">regularly</a>
    or <a href="#onetime">through one time contributions</a>.
    You can also support my work by buying one of the <strong><a href="#kits">All-in-one Kits listed below</a></strong> from whose proceedings I'll receive a share.
</p>
<p>
    <strong>With a company and open to a sponsorship?</strong> <a href="mailto:sponsoring@octoprint.org" data-event-category="support" data-event-action="sponsoring">Get in touch with me!</a>
</p>

<div class="container support">
    <div class="row-fluid">
        <div class="span6 support-regularly" id="regularly">
            <h3><i class="fa fa-heart octo-heart"></i>&nbsp;Regularly&nbsp;<i class="fa fa-heart octo-heart"></i></h3>
            <div class="support-option support-patreon" id="patreon">
                <span style="display: block; height: 60px"><a href="{{ site.patreon }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="patreon"><img src="{{ BASE_PATH }}/assets/img/patreon-with-text-new.png"></a></span>
                <strong>Become a patron on Patreon!</strong><br>
                <small>Also includes some cool extras!</small>
            </div>
            <div class="support-option support-donorbox-regularly" id="donorbox-regularly">
                <span style="display: block; height: 60px"><a href="{{ site.donorbox_regularly }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="donorbox-regularly"><img src="{{ BASE_PATH }}/assets/img/donorbox-with-text.png"></a></a></span>
                <strong>Support me on Donorbox!</strong><br>
                <small>Regularly or one-time - you decide!</small>
            </div>
        </div>
        <div class="span6 support-onetime" id="onetime">
            <h3>One time</h3>
            <div class="support-option support-paypal" id="paypal">
                <span style="display: block; height: 60px"><a href="{{ site.paypal }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="paypal"><img src="{{ BASE_PATH }}/assets/img/paypal-with-text.png"></a></span>
                <strong>Make a one-time contribution through PayPal!</strong><br>
                <small>No paypal.me? Send funds via PayPal to octoprint&#64;foosel&#46;net</small>
            </div>
            <div class="support-option support-donorbox-once" id="donorbox-once">
                <span style="display: block; height: 60px"><a href="{{ site.donorbox_once }}" target="_blank" rel="noopener noreferrer" data-event-category="support" data-event-action="donorbox-once"><img src="{{ BASE_PATH }}/assets/img/donorbox-with-text.png"></a></a></span>
                <strong>Support me on Donorbox!</strong><br>
                <small>Regularly or one-time - you decide!</small>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 support-kits" id="kits">
            <h3>All-in-one OctoPrint Kits</h3>
            Want to help and still need some hardware?<br>
            <strong>Buy one of these All-in-one OctoPrint Kits!</strong><br>
            <small>I get a share from the proceedings</small>
            <div class="container">
                <div class="row-fluid kitrow">
                    {% for kit in site.data.kits %}
                        <div class="kit">
                            {% if kit.url %}
                            <a href="{{ kit.url }}" title="{{ kit.title }}" target="_blank" rel="noopener noreferrer" data-event-category="kit" data-event-action="{{ kit.title }}">
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/kits/{{ kit.image }}" alt="{{ kit.title }}" title="{{ kit.title }}">
                                </span><br>
                                <strong>{{ kit.title }}</strong>
                            </a><br>
                            {% else %}
                            <span>
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/kits/{{ kit.image }}" alt="{{ kit.title }}" title="{{ kit.title }}">
                                </span><br>
                                <strong>{{ kit.title }}</strong>
                            </span><br>
                            {% endif %}
                            {{ kit.description }}<br>
                            {% if kit.resellers %}
                            <em>Available from</em>
                            <ul class="resellers">
                                {% for reseller in kit.resellers %}
                                    <li><a href="{{ reseller.url }}" target="_blank" rel="noopener noreferrer" title="{{ reseller.title }}" data-event-category="kit" data-event-action="{{ kit.title }}">{{ reseller.title }}</a> [{{ reseller.country }}]</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if kit.location %}
                            <span class="kitlocation">
                                {{ kit.location }}
                            </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

