---
layout: page
title: OctoPrint Merchandise
description: Show some love, get some swag, support the project!
---

If you are looking for some OctoPrint merchandise, be it apparel, stickers or all-in-one kits, this is the right
place to find <strong>officially endorsed products</strong> whose sales also help <strong><a href="/support-octoprint/"  data-analytics='"Support Click", { "props": { "origin": "merch"} }'>fund the project</a></strong>!

<div class="container support">
    <div class="row-fluid">
        <div class="span12 support-kits" id="merch">
            <h3>Apparel, stickers & other swag</h3>
            <div class="container">
                <div class="row-fluid merchrow">
                    {% for merch in site.data.merchandise %}
                        <div class="merch">
                            {% if merch.url %}
                            <a href="{{ merch.url }}" title="{{ merch.title }}" target="_blank" rel="noopener noreferrer" data-analytics='"Merch Link", { "props": { "merch": "{{ merch.title }}"} }'>
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/merchandise/{{ merch.image }}" alt="{{ merch.title }}" title="{{ merch.title }}">
                                </span><br>
                                <strong>{{ merch.title }}</strong>
                            </a><br>
                            {% else %}
                            <span>
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/merchandise/{{ merch.image }}" alt="{{ merch.title }}" title="{{ merch.title }}">
                                </span><br>
                                <strong>{{ merch.title }}</strong>
                            </span><br>
                            {% endif %}
                            {{ merch.description }}<br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 support-kits" id="kits">
            <h3>All-in-one OctoPrint Kits & Cards</h3>
            <div class="container">
                <div class="row-fluid kitrow">
                    {% for kit in site.data.kits %}
                        <div class="kit">
                            {% if kit.url %}
                            <a href="{{ kit.url }}" title="{{ kit.title }}" target="_blank" rel="noopener noreferrer" data-analytics='"Merch: Kit", { "props": { "kit": "{{ kit.title }}"} }'>
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/kits/{{ kit.image }}" alt="{{ kit.title }}" title="{{ kit.title }}">
                                </span><br>
                                <strong>{{ kit.title }}</strong>
                            </a><br>
                            {% else %}
                            <span>
                                <span class="imgcontainer">
                                    <img src="{{ BASE_PATH }}/assets/img/kits/{{ kit.image }}" alt="{{ kit.title }}" title="{{ kit.title }}">
                                </span><br>
                                <strong>{{ kit.title }}</strong>
                            </span><br>
                            {% endif %}
                            {{ kit.description }}<br>
                            {% if kit.resellers %}
                            <em>Available from</em>
                            <ul class="resellers">
                                {% for reseller in kit.resellers %}
                                    <li><a href="{{ reseller.url }}" target="_blank" rel="noopener noreferrer" title="{{ reseller.title }}"  data-analytics='"Merch: Kit Reseller", { "props": { "kit": "{{ kit.title }}", "reseller": "{{ reseller.title }}"} }'>{{ reseller.title }}</a> [{{ reseller.country }}]</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if kit.location %}
                            <span class="kitlocation">
                                {{ kit.location }}
                            </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

