<script>
  if (
    !window["carbon-disable"] &&
    !window.matchMedia("(max-width: 767px)").matches
  ) {
    (() => {
      const div = document.createElement("div");
      div.classList = "aside-box aside-box__ad";

      const po = document.createElement("script");
      po.type = "text/javascript";
      po.async = true;
      po.src = "{{ .Site.Params.carbon }}";
      po.id = "_carbonads_js";

      div.appendChild(po);
      
      const s = document.currentScript;
      s.parentNode.insertBefore(div, s);

    })();
  }
</script>
