<meta name="google-site-verification" content="0EFsbaNygJcEinKPmzP-hTf0Ju6wDIpJxO5zvQtOQT0" />
<meta name="google-site-verification" content="i7e8SG0JfDqFkxQgr1_ZuirRzwJomS8xzPvb0mLHujM" />
<meta name="referrer" content="same-origin">

{{ partial "head-plausible.html" }}
{{ partial "head-carbon.html" }}

<script>
    /**
     * Make sure octoprint.github.io stuff gets rewritten to octoprint.org.
     * See https://github.com/OctoPrint/plugins.octoprint.org/issues/146.
     */
    var githubio = "octoprint.github.io/octoprint.org";
    var url = window.location.href;
    if (url && (url.startsWith("http://" + githubio) || url.startsWith("https://" + githubio))) {
        url = url.replace(githubio, "octoprint.org");
        window.location.replace(url);
    }
</script>
