<!-- Carbon -->
<script>
    var disableStr = "carbon-disable";
    function carbonOptout() {
        //document.cookie = disableStr + "=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/; domain=octoprint.org";
        document.cookie = disableStr + "=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/; domain=octoprint.org; SameSite=Strict";
        window[disableStr] = true;
        alert("Carbon Ads sind jetzt deaktiviert! / Carbon Ads are now deactivated!");
    }
    if (document.cookie.indexOf(disableStr + "=true") > -1) {
        window[disableStr] = true;
    }
</script>
