{{- $release := .Params.release }}

{{- $release_type := "bugfix" }}
{{- if hasSuffix $release ".0" }}
  {{- $release_type = "stable" }}
{{- else if (findRE `rc\d+$` $release) }}
  {{- $release_type = "rc" }}
{{- end }}
{{- $is_rc := eq $release_type "rc" }}

{{- $has_stable_headsups := (and .Params.stable .Params.stable.headsups) }}
{{- $has_prior_headsups := (and .Params.prior .Params.prior.headsups) }}
{{- $has_headsups := (or .Params.headsups $has_stable_headsups $has_prior_headsups) }}

{{- if $is_rc }}
  <p>
    You can find the full changelog and release notes as usual
    <a href="https://github.com/OctoPrint/OctoPrint/releases/tag/{{ .Params.release }}"
      >on GitHub</a
    >.
  </p>

  <p>
    As the past RCs have shown me that a lot of people appear to be unaware of
    this:
    <strong>Please do <em>not</em> install this RC if you expect a fully stable
    version</strong>. It is not a stable release, it is a release <em>candidate</em>: severe bugs
    may occur, and they might be bad enough that they make a manual downgrade to
    an earlier version necessary - maybe even from the command line.
  </p>

  <p>
    You should feel comfortable with and capable of possibly having to do this
    <em>before</em> installing an RC.
  </p>

  <p>
    If you want to and can help test this release candidate, you can find
    information on how to switch to the
    <strong>"{{ .Params.channel }}"</strong> release channel
    <a
      href="https://community.octoprint.org/t/how-to-use-the-release-channels-to-help-test-release-candidates/402"
      >in this guide</a
    >
    if not already done (also linked below).
  </p>

  <p>
    <strong>Please provide feedback</strong> on this RC. For general feedback you
    can use
    <a href="https://github.com/OctoPrint/OctoPrint/issues/{{ .Params.feedback }}"
      >this ticket on the tracker</a
    >. The information that everything works fine for you is also valuable
    feedback 😄. <strong>For bug reports</strong> please follow
    <a
      href="https://github.com/OctoPrint/OctoPrint/blob/dev/CONTRIBUTING.md#how-to-file-a-bug-report"
      >How to file a bug report</a
    >
    - I need logs and reproduction steps to fix issues, not just the information
    that something doesn't work so make sure to
    <strong>fill out all fields of the issue template</strong>.
  </p>

  {{- with .Params.closer_look }}
      <p>
          While testing the release candidate, please
          <strong>take a closer look at these things</strong>:
      </p>
      <ul>
          {{- range . }}
              <li>{{ . | markdownify }}</li>
          {{- end }}
      </ul>
  {{- end }}

  <p>Thanks!</p>
  <p>
    Depending on the feedback regarding this version I'll look into fixing any
    observed regressions and bugs and pushing out a follow-up version as soon as
    possible and necessary.
  </p>
{{- else }}
  <h2 id="issues-while-updating">Issues while updating?</h2>

  <p>
    On every new OctoPrint release we see some people run into the same issues
    with outdated or broken environments all over again. If you encounter a
    problem during update, please check
    <a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880"
      >this collection of the most common issues</a
    >
    encountered over the past couple of release cycles first, and test if the
    included fixes solve your problem.
  </p>

  {{- if $has_headsups }}
  <p>
    Also make sure to check any of the heads-ups {{ if .Params.pluginincompatibilities -}}or plugin incompatibilities{{- end }}
    listed below.
  </p>
  {{- end }}
{{- end }}

{{- if $has_headsups }}
  <h2 id="headsups">Heads-ups</h2>
  {{- if or (eq $release_type "rc") (eq $release_type "stable") }}
    <p>Please also take a look at the following heads-ups:</p>
  {{- else if eq $release_type "bugfix" }}
    {{- if $has_stable_headsups }}
      <p>
        The heads-ups from {{ .Params.stable.tag }} still apply,
        <a href="{{ .Params.stable.link }}#headsups">please read them carefully</a>,
        they might impact you and how you use OctoPrint! Also see the
        <a href="#further-information"><strong>Further Information</strong></a> and
        <a href="#links"><strong>Links</strong></a> below for more information, where
        to find help and how to roll back.
      </p>
    {{- end }}
    {{- if $has_prior_headsups }}
      <p>
        The following heads-ups from earlier releases {{ if $has_stable_headsups }}also{{ end }} still apply:
      </p>
      <ul>
      {{- range .Params.prior.headsups }}
        <li><a href="{{ .link }}#headsups">{{ .release }}</a></li>
      {{- end }}
      </ul>
    {{- end }}
    {{- if .Params.headsups }}
      <p>For this bugfix release there are additional heads-ups:</p>
    {{- end }}
  {{- end }}
  {{- partial "release-headsups.html" . }}

  {{- with .Params.pluginincompatibilities }}
    <h3>Known plugin incompatibilities</h3>
    <p>
      The following plugins are confirmed to have issues with OctoPrint {{ $release }}. Their authors have been informed of this but no fixed version
      was yet available at the time of release:
    </p>
    <ul>
      {{- range . }}
        <li>
          {{- if .rcavailable }}
            <a href="{{ .page }}">{{ .name }}</a> (<a href="{{ .rcavailable }}">a release candidate containing a fix is available</a>)
          {{- else }}
          <a href="{{ .page }}">{{ .name }}</a> (see <a href="{{ .link }}">{{ .linktitle }}</a> for details)
          {{- end }}
        </li>
      {{- end }}
    </ul>
  {{- end }}
{{- end }}

<h2 id="thanks">Thanks</h2>

<p>
  Special thanks to everyone who contributed to this 
  release {{ if $is_rc }}candidate{{ end }} and 
  provided full, analyzable bug reports, suggestions, feedback and - of course - 
  <a
    href="/support-octoprint/"
    target="_blank"
    data-analytics='"Support Click", { "props": { "origin": "funding_banner"} }'
    ><strong>funding</strong></a
  >
  !
</p>

{{ partial "release-contributors.html" . }}
{{ partial "release-security.html" . }}

{{- if not $is_rc }}
  {{ partial "release-testers.html" . }}

  {{ partial "release-stats.html" . }}

  <h2 id="further-information">Further Information</h3>

  <p>
    If connected to the internet, OctoPrint will allow you to apply this update
    automatically via an update notification. It may take up to 24h for this
    notification to pop up, so don't be alarmed if it doesn't show up immediately
    after reading this. You can force the update however via Settings > Software
    Update > Advanced options > Force check for update.
  </p>
  <p>
    <strong>If your update fails</strong> chances are high you are running into
    one of the common update issues listed with fixes
    <a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880"
      >here</a
    >, so please
    <a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880"
      >go through that FAQ entry <strong>first</strong></a
    >.
  </p>
  <p>
    <strong>
      If you have any problems with your OctoPrint installation, please seek
      support on the
      <a href="https://community.octoprint.org">community forum</a>.
    </strong>
  </p>
{{- end }}

<h2 id="links">Links</h3>

<ul>
  {{- if eq $release_type "rc" }}
  <li>
    <a href="https://github.com/OctoPrint/OctoPrint/issues/{{ .Params.feedback }}"
      >Ticket for general feedback</a
    >
  </li>
  {{- end }}
  <li>
    <a
      href="{{- if .Params.changelog }}{{ .Params.changelog }}{{- else }}https://github.com/OctoPrint/OctoPrint/releases/tag/{{ .Params.release }}{{- end }}"
      >Changelog and Release Notes</a
    >
  </li>
  <li>
    <a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880"
      >FAQ entry "My OctoPrint update fails"</a
    >
    <strong>(Read in case of any update problems!)</strong>
  </li>
  {{- if not (eq $release_type "rc") }}
  <li><a href="https://community.octoprint.org">Community forum</a></li>
  <li><a href="http://discord.octoprint.org/">Discord Server</a></li>
  {{- end }}
  <li><a href="https://faq.octoprint.org">FAQ</a></li>
  <li><a href="http://docs.octoprint.org/">Documentation</a></li>
  {{- if eq $release_type "rc" }}
  <li>
    <a
      href="https://community.octoprint.org/t/how-to-use-the-release-channels-to-help-test-release-candidates/402"
      >How to use release channels to help test release candidate</a
    >
  </li>
  {{- end }}
  <li>
    <a
      href="https://github.com/OctoPrint/OctoPrint/blob/dev/CONTRIBUTING.md#how-to-file-a-bug-report"
      >How to file a bug report</a
    >
  </li>
  <li>
    <a href="https://github.com/OctoPrint/OctoPrint/blob/dev/CONTRIBUTING.md"
      >Contribution Guidelines (also relevant for creating bug reports!)</a
    >
  </li>
  <li>
    <a
      href="https://community.octoprint.org/t/how-can-i-revert-to-an-older-version-of-the-octoprint-installation-on-my-octopi-image/205"
      >How to roll back to an earlier release (OctoPi)</a
    >
  </li>
  <li>
    <a
      href="https://community.octoprint.org/t/how-can-i-roll-back-to-an-earlier-version-after-an-update/234"
      >How to roll back to an earlier release (manual install)</a
    >
  </li>
</ul>
