<div id="banner" style="display: none">
    <a class="close-banner" href="javascript:void(0)">&times;</a>
    <div class="container content">
        <p class="text">
            I work full time on OctoPrint and can only continue thanks to funding by people like you. Give the
            button a click and learn how you can help!
        </p>
        <p class="signature">
            Thank you,<br>
            Gina
        </p>
        <div class="span4 button">
            <a class="btn btn-primary btn-large btn-block" href="/support-octoprint/" data-event-category="supportlink" data-event-action="banner"><i class="icon-heart"></i> Support my work! <i class="icon-heart"></i></a>
        </div>
    </div>
</div>