      <footer>
          <div class="container">
              <div class="row">
                  <div class="span4 footer-left-column">
                      <h2>Get in touch</h2>
                      <ul class="fa-ul">
                          <li><span class="fa-li"><i class="fa fa-envelope fa-fw"></i></span>Mailinglist: <a href="mailto:octoprint+subscribe@googlegroups.com?subject=Subscribe">Subscribe</a> (<a href="https://groups.google.com/group/octoprint">Archive</a>)</li>
                          <li><span class="fa-li"><i class="fab fa-google-plus-g fa-fw"></i></span>G+ Community: <a href="https://plus.google.com/communities/102771308349328485741" target="_blank">+OctoPrint</a></li>
                          <li><span class="fa-li"><i class="fab fa-google-plus-g fa-fw"></i></span>G+ Page: <a href="{{ site.gpluslink }}" target="_blank">+OctoPrint</a></li>
                          <li><span class="fa-li"><i class="fab fa-facebook-f fa-fw"></i></span>Facebook Page: <a href="{{ site.facebooklink }}" target="_blank">OctoPrint</a></li>
                          <li><span class="fa-li"><i class="fab fa-twitter fa-fw"></i></span>Twitter: <a href="{{ site.twitterlink }}" target="_blank">@OctoPrint3D</a></li>
                          <li><span class="fa-li"><i class="fas fa-comments fa-fw"></i></span>IRC: <a href="irc://chat.freenode.net/octoprint" target="_blank">#octoprint on freenode</a></li>
                          <li><span class="fa-li"><i class="fas fa-gavel fa-fw"></i></span><a href="/imprint/">Impressum / Imprint</a></li>
                      </ul>
                  </div>
                  <div class="span4">
                      <h2>Recent Posts</h2>
                      <div class="recent-posts">
                          {% for post in site.posts limit: 5 %}
                          <div><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br><small>{{ post.date | date_to_string }}</small></div>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="span4 footer-right-column">
                      <h2>Big Thanks</h2>
                      Cross-browser testing services are kindly provided by <a href="http://www.browserstack.com">BrowserStack</a>.
                      Profiling is done with the help of <a href="http://www.pyvmmonitor.com">PyVmMonitor</a>.
                  </div>
              </div>
              <div class="row">
                  <div class="span12 text-center legal">
                      <small>"OctoPrint" is a <a href="/trademark-rules/">registered trademark</a></small>
                  </div>
              </div>
          </div>
      </footer>
