      <footer>
          <div class="container">
              <div class="row">
                  <div class="span4 footer-left-column">
                      <h2>Get in touch</h2>
                      <ul class="fa-ul">
                          <li><span class="fa-li"><i class="fab fa-discourse fa-fw"></i></span><a href="https://discourse.octoprint.org">Community Forum</a></li>
                          <li><span class="fa-li"><i class="fas fa-comments fa-fw"></i></span><a href="irc://chat.freenode.net/octoprint" target="_blank">#octoprint on freenode</a> (<a href="https://chat.octoprint.org">Webchat</a>)</li>
                          <li><span class="fa-li"><i class="fab fa-google-plus-g fa-fw"></i></span><a href="{{ site.gpluslink }}" target="_blank">+OctoPrint</a></li>
                          <li><span class="fa-li"><i class="fab fa-facebook-f fa-fw"></i></span><a href="{{ site.facebooklink }}" target="_blank">OctoPrint</a></li>
                          <li><span class="fa-li"><i class="fab fa-twitter fa-fw"></i></span><a href="{{ site.twitterlink }}" target="_blank">@OctoPrint3D</a></li>
                          <li><span class="fa-li"><i class="fas fa-thermometer-three-quarters"></i></span><a href="https://status.octoprint.org" target="_blank">Site Status</a></li>
                          <li><span class="fa-li"><i class="fas fa-gavel fa-fw"></i></span><a href="/imprint/">Impressum / Imprint</a></li>
                      </ul>
                  </div>
                  <div class="span4">
                      <h2>Recent Posts</h2>
                      <div class="recent-posts">
                          {% for post in site.posts limit: 5 %}
                          <div><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br><small>{{ post.date | date_to_string }}</small></div>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="span4 footer-right-column">
                      <h2>Big Thanks</h2>
                      <p>
                          Cross-browser testing services are kindly provided by <a href="http://www.browserstack.com">BrowserStack</a>.
                          Profiling is done with the help of <a href="http://www.pyvmmonitor.com">PyVmMonitor</a>.
                      </p>
                      <p>
                          Development would be impossible without the <a href="/support-octoprint/" data-event-category="supportlink" data-event-action="footer">financial support of the community</a>.
                      </p>
                  </div>
              </div>
              <div class="row">
                  <div class="span12 text-center legal">
                      <small>"OctoPrint" is a <a href="/trademark-rules/">registered trademark</a></small>
                  </div>
              </div>
          </div>
      </footer>
