<div id="navigation" class="navbar navbar-inverse navbar-fixed-top unfixed" data-scroll-header>
  <div class="navbar-inner">
    <div class="container">
      <a class="brand hidden-phone" href="/"><img src="/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.title }}</a>
      <a class="brand visible-phone" href="/"><img src="/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"></a>
      <a href="javascript:void(0)" class="btn btn-burger btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><i class="fas fa-bars"></i></a>
      <div class="pull-right">
        <ul class="nav social-navbar">
          <li><a href="/merch/" title="Get some merchandise!"><i class="fa fa-shopping-basket"></i></a></li>
          <li><a href="/support-octoprint/" title="Support OctoPrint!" data-event-category="supportlink" data-event-action="navigation"><i class="fas fa-donate"></i></a></li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="https://community.octoprint.org">Forum</a></li>
          <li><a href="/download/">Download</a></li>
          <li><a href="/support-octoprint/" title="Support the project!" data-event-category="supportlink" data-event-action="donate">Donate</a></li>
          <li><a href="/merch/" title="Get some merchandise!" data-event-category="merchlink" data-event-action="navbar">Merchandise</a></li>
          <li><a href="http://plugins.octoprint.org">Plugins</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">More... <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://github.com/foosel/OctoPrint/wiki">Wiki</a></li>
              <li><a href="http://docs.octoprint.org">Documentation</a></li>
              <li><a href="https://community.octoprint.org/c/support/faq">FAQ</a></li>
              <li><a href="/media/">Media</a></li>
              <li class="divider"></li>
              <li><a href="/conduct/">Code of Conduct</a></li>
              <li class="divider"></li>
              <li><a href="https://github.com/foosel/OctoPrint">Source</a></li>
              <li><a href="https://github.com/foosel/OctoPrint/blob/master/CONTRIBUTING.md">Contribution Guidelines</a></li>
              <li><a href="https://github.com/foosel/OctoPrint/issues">Issuetracker</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
