{{ define "main" }}
{{ partial "hero.html" . }}
<section class="section">
  <div class="container-narrow">
    {{- if not .Params.hero }}
      <h1>{{ .Title }}</h1>
    {{- end }}
    {{ .Content }}
    {{- $pages := where site.RegularPages "Section" "blog" }}
    {{- if $pages }}
      {{- $paginator := .Paginate $pages }}
      <div class="article-listing">
        {{- range $paginator.Pages }}
          {{- partial "post-card.html" . }}
        {{- end }}
      </div>
      {{- partial "pagination.html" . }}
    {{- end }}
  </div>
</section>
{{ end }}
