---
layout: post
---

{{ content | markdownify }}

<h3>Issues while updating?</h3>

<p>
    On every new OctoPrint release we see some people run into the same issues with 
    outdated or broken environments all over again. If you encounter a problem during update, please check 
    <a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880">this collection of the most common issues</a> 
    encountered over the past couple of release cycles first, and test if the included 
    fixes solve your problem.
</p>

{% if page.release.headsups or page.headsups %}
<h3 id="headsups">Heads-ups</h3>

{% if page.release.headsups %}
<p>
    The heads-ups from {{ page.release.tag }} still apply,
    <a href="{{ page.release.link }}#headsups">please read them carefully</a>,
    they might impact you and how you use OctoPrint!
    Also see the <a href="#further-information"><strong>Further Information</strong></a>
    and <a href="#links"><strong>Links</strong></a> below for more information, where to
    find help and how to roll back.
</p>
{% endif %}

{% if page.headsups %}
<p>
    For this bugfix release there are additional heads-ups:
</p>

{% for headsup in page.headsups %}
<h4>{{ headsup.title }}</h4>

{{ headsup.content | markdownify }}
{% endfor %}
{% endif %}

{% if page.pluginincompatibilities %}
<h4>Known plugin incompatibilities</h4>

<p>
  The following plugins are confirmed to have issues with OctoPrint {{ page.bugfix }}.
  Their authors have been informed of this but no fixed version was yet available at the
  time of release:
</p>

<ul>
  {% for plugin in page.pluginincompatibilities %}
    {% if plugin.rcavailable %}
      <li><a href="{{ plugin.page }}">{{ plugin.name }}</a> (<a href="{{ plugin.rcavailable }}">a release candidate containing a fix is available</a>)</li>
    {% else %}
      <li><a href="{{ plugin.page }}">{{ plugin.name }}</a> (see <a href="{{ plugin.link }}">{{ plugin.linktitle }}</a> for details)</li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% endif %}

<h3 id="thanks">Thanks</h3>

<p>
    Thanks to everyone who contributed to this bugfix release and provided full,
    analyzable bug reports, suggestions and feedback!
</p>

{% if page.contributors %}
<p>
    A special <strong>Thank you!</strong> to these fine people for their PRs:
</p>
{% include github_user_grid.html users=page.contributors %}
{% endif %}

<h3 id="further-information">Further Information</h3>

<p>
    It may take up to 24h for your update notification to pop up, so don't
    be alarmed if it doesn't show up immediately after reading this. You
    can force the update however via Settings > Software Update >
    Advanced options > Force check for update.
</p>
<p>
  <strong>If your update fails</strong> chances are high you are running into one of the common
  update issues listed with fixes <a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880">here</a>, 
  so please <a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880">go through that FAQ entry <strong>first</strong></a>.
</p>
<p>
    <strong>
        If you have any problems with your OctoPrint installation, please seek
        support on the <a href="https://community.octoprint.org">community forum</a>.
    </strong>
</p>

<h3 id="links">Links</h3>

<ul>
    <li><a href="https://github.com/OctoPrint/OctoPrint/releases/tag/{{ page.bugfix }}">Changelog and Release Notes</a></li>
    <li><a href="https://community.octoprint.org/t/my-octoprint-update-fails/37880">FAQ entry "My OctoPrint update fails"</a> <strong>(Read in case of any update problems!)</strong></li>
    <li><a href="https://community.octoprint.org">Community forum</a></li>
    <li><a href="https://discord.octoprint.org">Discord Server</a></li>
    <li><a href="https://faq.octoprint.org">FAQ</a></li>
    <li><a href="http://docs.octoprint.org/">Documentation</a></li>
    <li><a href="https://github.com/OctoPrint/OctoPrint/blob/master/CONTRIBUTING.md">Contribution Guidelines (also relevant for creating bug reports!)</a></li>
    <li><a href="https://github.com/OctoPrint/OctoPrint/blob/master/CONTRIBUTING.md#how-to-file-a-bug-report">How to file a bug report</a></li>
    <li><a href="https://community.octoprint.org/t/how-can-i-revert-to-an-older-version-of-the-octoprint-installation-on-my-octopi-image/205">How to roll back to an earlier release (OctoPi)</a></li>
    <li><a href="https://community.octoprint.org/t/how-can-i-roll-back-to-an-earlier-version-after-an-update/234">How to roll back to an earlier release (manual install)</a></li>
</ul>
